ion-header {
    --ion-background-color: #d40000; /* Header background color */
    --ion-color-base: #fff; /* Text color */
  }

  .error-message {
    color: red;
    font-size: 20px;
    margin-top: 10px;
  }
  